$link-color: #1B4B4B;
$btn-primary-color: #1B4B4B;
$base-button-color: #A5C9C9;

$sidebar-color: #F5F9F9;
$feedback-color: darken($sidebar-color, 3%);

$body-heading-color: #1B4B4B;
$body-text-color: #424242;
$nav-child-link-color: $body-text-color;
$search-result-preview-color: $body-text-color;

$link-color: #1B4B4B;
$btn-primary-color: #1B4B4B;
$base-button-color: #A5C9C9;

// Italian flag accent colors
$green-000: #009246;
$white-000: #ffffff;
$red-000: #ce2b37;